*{
    margin: 0;
}
body{
    margin: 10px 0px;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: yellow;
    border-radius: 2px;
    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;

}
nav:hover{
    box-shadow: 1px 1px 10px 2px rgb(159, 159, 159);
}
.upgrade-button{
    cursor: pointer;
    height: 50px ;
    border-radius: 14px;
    border: none;
    margin: 15px 25px;
    width: 200px;
    background-color: rgb(255, 132, 153);
    color: white;
}

.upgrade-button-container{
    cursor: pointer;
    position: absolute;
    top: 400px;
    width: 100%;
    background-color: rgb(251, 26, 26);
    height: 300px;
    z-index: -3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.upgrade-button-wrapper{
    background-color: pink;
    display: block;
    padding: 35px 5px;
    height: 100px;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.clicker-container{
    display: flex;
    justify-content: center;
    
    
}
.clicker-button{
    font-size: 15px;
    margin-top: 50px;
    padding: 25px;
    border-radius: 14px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: 0.35s background-color ease-in;
}
.clicker-button:active{
    background-color: lightcoral;
}

.clicker-button:hover{
    background-color:darkred;
}