*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 10px 0px;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: yellow;
    border-radius: 2px;
    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;

}
nav:hover{
    box-shadow: 1px 1px 10px 2px rgb(159, 159, 159);
}
.upgrade-button{
    cursor: pointer;
    height: 50px ;
    border-radius: 14px;
    border: none;
    margin: 15px 25px;
    width: 200px;
    background-color: rgb(255, 132, 153);
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;

}
.upgrade-button:hover{
    background-color: rgb(255, 112, 153);
}
.upgrade-button-container-container{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    z-index: 1;
}

.upgrade-button-container{
    
    width: 100%;

    
    background-color: rgb(194, 80, 80);
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap; 
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
}
.upgrade-button-clicked{
    background-color: grey;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    margin: 5px 25px;
    pointer-events: none;
    border: none;
    margin: auto;
    
}
.upgrade-button-wrapper{
    background-color: pink;
    font-size: 14px;
    border: 2px black solid;
    
    
    height: 100px;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 150px;
    max-width: 300px;
    flex: 0 0 auto;
    scroll-behavior: smooth;
    border-radius: 25px;
    padding: 35px 10px;
    margin: 0px 5px;
    
}

.price-container{
    color: rgb(241, 52, 52);
    margin: 10px 20px;
}

.clicker-container{
    display: flex;
    justify-content: center;
    
    
}
.clicker-button{
    font-size: 15px;
    margin-top: 50px;
    padding: 25px;
    border-radius: 14px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: 0.35s background-color ease-in;
}
.clicker-button:active{
    background-color: lightcoral;
}

.clicker-button:hover{
    background-color:darkred;
}

.utility-button{
    background-color: rgb(220, 139, 10);
    border: 1px orange solid;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    margin: 15px 25px;
    cursor: pointer;
}
.utility-button:hover{
    background-color: rgb(220, 119, 10);
}

.autoclicker-section-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.autoclicker-toggle-button{
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
    /* margin-left: 8px; */
}
.autoclicker-toggle-button-on{
    background-color: red;
}

.autoclicker-upgrade-container{
    background-color: rgb(104, 17, 31);
    border-radius: 15px;
    color: white;
    border: none;
    padding: 12px;
    margin: 0px 15px;
    cursor: pointer;
}